/* App.css */

  
  /* .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
   */
  h1 {
    text-align: center;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
  }
  
  .loginlabel {
    margin-bottom: 8px;
  }
  
  .logininput {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #0056b3;
  }
  